<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>suterr_HW_02</title>
		<link rel="stylesheet" href="style.css" type="text/css">
	</head>
<body>
<h1 id='inner-content'>Well, hello there.</h1>

</body>
</html>
