

#tableCap{
	font-size: 75;
}

#inner-content{
	background-color:lightblue;
	font-style:bold;
	width:75%;
	text-align:center;
	margin: auto;
	
}

.outer-content{
	border-style:solid;
	background-color:pink;
	width:75%;
	margin-top:20px;	
}
.col1{
	font-style: italic;
}

.input{
	border-style:solid;
	border-width: 1px;
	padding: 3px;
}

.footer{
	background-color:white;
}


table{
    border-style:solid;
}

th{
	background-color:white;
	border-style:solid;
	border-width:2px;
}

td{
	border-style:solid;
	border-width:2px;
}


div{
}


tr:nth-child(odd) {
	background-color:cyan;
}
tr:nth-child(even){
	background-color:lightsteelblue;
}